PUBLIC_URL_MF_SMDG_AI=http://localhost:4201
PUBLIC_URL_MF_PROFILE_MANAGEMENT=http://localhost:4203
PUBLIC_URL_MF_FEATURE_MANAGEMENT=http://localhost:4204

PUBLIC_URL_PROFILE_MANAGEMENT= # profile-management-dev
PUBLIC_URL_AI_WORKFLOW_API_GATEWAY= # ai-workflow-api-gateway
PUBLIC_URL_PUSH_GATEWAY= # push-gateway
PUBLIC_URL_SCHEMA_TRANSFORM= # schema-transform
PUBLIC_URL_FILE_SERVICE= # file-service-qas
PUBLIC_URL_ORCHESTRATOR= # workflow-orchestrator-qas
PUBLIC_URL_GOVERNANCE_API= # governance-qas
PUBLIC_URL_AI_WORKFLOW_CONTROL_PLANE= # ai-workflow-control-plane-qas
PUBLIC_URL_API_GATEWAY= # api-gateway
PUBLIC_URL_API_GATEWAY_FEATURE_MANAGEMENT= # feature-management-dev

# Env service engine
PUBLIC_WORKFLOW_VALIDATION_RULE_AGENT_API_URL= # workflow-validation-rule-agent-qas
PUBLIC_WORKFLOW_GOVERNANCE_AGENT_API_URL= # workflow-governance-schema-agent-qas
PUBLIC_WORKFLOW_PROFILE_MANAGER_API_URL= # workflow-profile-manager-agent-qas
PUBLIC_INTEGRATION_HUB_API_URL= # integration-hub
PUBLIC_WORKFLOW_SUPERVISOR_AGENT_API_URL= #suppervisor agent api url

PUBLIC_API_TOKEN= # get from getToken App